* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 70%;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  align-self: flex-start;
  font-size: 3.5rem;
  margin-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  column-gap: 10rem;
}

/* ------------------ Recebt Scores ------------------ */
.recent-scores {
  flex: 1;
}

.recent-scores div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-title-container h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.recent-scores div h2 {
  font-size: 2rem;
}

.form-container button {
  padding: 0.5rem;
  width: 20%;
  text-align: center;
  align-self: flex-end;
  box-shadow: 3px 3px 0 0 #000;
  background-color: white;
  border: 2px solid #000;
  transition: all 0.2s ease-in;
}

.recent-scores div button {
  padding: 5px 0.7rem;
  text-align: center;
  box-shadow: 3px 3px 0 0 #000;
  background-color: white;
  border: 2px solid #000;
  transition: all 0.2s ease-in;
}

.form-container button:hover {
  background-color: #000;
  color: white;
  box-shadow: 0 0 0 0 #000;
}

.recent-scores div button:hover {
  background-color: #000;
  color: white;
  box-shadow: 0 0 0 0 #000;
}

.scores {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

/* ------------------ Form ------------------ */
.add-your-score-form {
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inputs input {
  padding: 0.5rem;
  border: 2px solid #000;
}
